In [48]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import load_boston
from sklearn.model_selection import cross_val_score
from sklearn.impute import SimpleImputer

In [49]:
boston = load_boston()

In [50]:
pd.DataFrame(boston.data)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [59]:
X_full = boston.data
Y_full = boston.target

In [52]:
np.random.seed(1122)
m_rate = 0.5
n_m = int(np.floor(Def.shape[0]*Def.shape[1]*m_rate))
x_m_l = np.random.randint(0,13,n_m)
y_m_l = np.random.randint(0,506,n_m)
X_missing = X_full

In [53]:
X_missing[y_m_l,x_m_l] = np.nan

In [54]:
X_missing

array([[       nan, 1.8000e+01, 2.3100e+00, ...,        nan, 3.9690e+02,
        4.9800e+00],
       [       nan,        nan,        nan, ..., 1.7800e+01, 3.9690e+02,
               nan],
       [       nan, 0.0000e+00, 7.0700e+00, ...,        nan,        nan,
               nan],
       ...,
       [6.0760e-02, 0.0000e+00,        nan, ..., 2.1000e+01,        nan,
               nan],
       [       nan,        nan,        nan, ...,        nan, 3.9345e+02,
               nan],
       [4.7410e-02, 0.0000e+00,        nan, ..., 2.1000e+01, 3.9690e+02,
        7.8800e+00]])

In [55]:
X_missing = pd.DataFrame(X_missing)

In [56]:
X_missing

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,NaN,18.0,2.31,NaN,0.538,6.575,NaN,NaN,NaN,NaN,NaN,396.90,4.98
1,NaN,NaN,NaN,NaN,NaN,NaN,78.9,NaN,NaN,242.0,17.8,396.90,NaN
2,NaN,0.0,7.07,NaN,0.469,7.185,NaN,4.9671,2.0,242.0,NaN,NaN,NaN
3,NaN,0.0,2.18,0.0,0.458,6.998,NaN,NaN,NaN,NaN,NaN,NaN,2.94
4,NaN,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,NaN,11.93,0.0,0.573,NaN,NaN,NaN,NaN,NaN,21.0,391.99,9.67
502,0.04527,NaN,NaN,NaN,0.573,NaN,NaN,2.2875,NaN,NaN,21.0,396.90,NaN
503,0.06076,0.0,NaN,NaN,0.573,6.976,NaN,NaN,1.0,NaN,21.0,NaN,NaN
504,NaN,NaN,NaN,0.0,0.573,6.794,NaN,2.3889,1.0,273.0,NaN,393.45,NaN
505,0.04741,0.0,NaN,0.0,0.573,6.030,80.8,NaN,1.0,NaN,21.0,396.90,7.88

In [57]:
X_missing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       299 non-null    float64
 1   1       302 non-null    float64
 2   2       306 non-null    float64
 3   3       313 non-null    float64
 4   4       298 non-null    float64
 5   5       309 non-null    float64
 6   6       326 non-null    float64
 7   7       302 non-null    float64
 8   8       296 non-null    float64
 9   9       304 non-null    float64
 10  10      313 non-null    float64
 11  11      302 non-null    float64
 12  12      308 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [58]:
missing_index = list(np.argsort(X_missing.isnull().sum()))

In [71]:
for i in missing_index:    
    df = X_missing
    fillc = df.iloc[:,i]
    
    df = pd.concat([df.iloc[:,df.columns != i],pd.DataFrame(Y_full)],axis = 1)
    df_0 = SimpleImputer(missing_values = np.nan,strategy = 'constant',fill_value = 0).fit_transform(df)
    
    Y_train = fillc[fillc.notnull()]
    Y_test = fillc[fillc.isnull()]
    X_train = df_0[Y_train.index,:]
    X_test = df_0[Y_test.index,:]
    
    rfc = RandomForestRegressor()
    rfc = rfc.fit(X_train,Y_train)
    Y_predict = rfc.predict(X_test)
    
    X_missing.loc[X_missing.iloc[:,i].isnull(),i] = Y_predict

In [72]:
X_missing

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.337170,18.000,2.3100,0.03,0.53800,6.57500,63.973,4.190784,4.32,250.36,17.574,396.9000,4.9800
1,0.218256,4.800,9.5849,0.33,0.50527,6.11211,78.900,3.019786,4.13,242.00,17.800,396.9000,13.7225
2,0.191968,0.000,7.0700,0.01,0.46900,7.18500,43.722,4.967100,2.00,242.00,17.674,391.6720,4.9588
3,0.067502,0.000,2.1800,0.00,0.45800,6.99800,47.790,5.607966,2.96,215.16,17.635,392.2416,2.9400
4,0.049686,0.000,2.1800,0.00,0.45800,7.14700,54.200,6.062200,3.00,222.00,17.603,391.3406,5.2482
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.062630,0.125,11.9300,0.00,0.57300,6.41037,63.337,3.534889,3.56,335.42,21.000,391.9900,9.6700
502,0.045270,0.000,13.0759,0.12,0.57300,6.04457,73.689,2.287500,3.14,356.18,21.000,396.9000,11.9688
503,0.060760,0.000,10.3757,0.12,0.57300,6.97600,69.099,3.356419,1.00,322.42,21.000,390.9579,7.2762
504,0.262958,3.840,11.7243,0.00,0.57300,6.79400,75.076,2.388900,1.00,273.00,18.677,393.4500,8.7546
505,0.047410,0.000,13.3014,0.00,0.57300,6.03000,80.800,2.609548,1.00,361.10,21.000,396.9000,7.8800